div {
	padding: 10px;
}
body {
	background-image: url(../images/circles-dark.png);
}
h1 {
	font-size: 72px;
	margin-bottom: 10px;
	text-align: center;
}
p {
	padding: 6px;
	margin-left: 50px;
}
.crystal {
	width: 90px;
	height: 90px;
	margin-left: 4px;	
}
.dynamic {
	background-color: grey;
	height: 30px;
	width: 400px;
	font-weight: bold;
	text-align: center;
	padding-top:20px;
}
#scoreboard {
	background-color: lightgrey;
	width: 400px;
	text-align: center;
}
.instructions {
	background-color: lightblue;
}